export ISTIO_VERSION=1.5.2
export KNATIVE_SERVING_VERSION=v0.14.0
export KNATIVE_EVENTING_VERSION=v0.14.1
export SKAFFOLD_VERSION=v1.8.0
export HELMFILE_VERSION=v0.109.1
export HELM_VERSION=v3.2.0
export OLM_VERSION=0.14.1
export K8S_IMAGE="kindest/node:v1.18.2"
export K8S_CLUSTER_NAME=demo-kind
export LOCAL_DOMAIN=k8s.loc
# /etc/hosts
# 127.0.0.1 k8s.loc
